<mat-card class="card">
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.author}}</mat-card-subtitle>
    <mat-card-content>{{article.content}}</mat-card-content>
    <mat-card-actions class="menu-card">
        <div>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </div>
        <div>
            <button mat-button (click)="openDialog()">EDIT</button>
            <button mat-button (click)="delete()">DELETE</button>
        </div>
    </mat-card-actions>
</mat-card>